
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
}

.resqueue-form {
  padding: 20px;
  width: 100%;
}

input[type="submit"], .btn {
  width: 100%;
}

.resqueue-form input[type="submit"] {
  margin-top: 10px;
}

.map {
  height: 100vh;
}
